.co-container{

   justify-content: space-around;
   gap:  1rem;
}

.co-wrapper{
    padding: 5rem 5rem 0;;
}

.co-container>img{
    width: 9rem;
}

@media (max-width: 640px) {
    .co-container>img{
        width: 5rem;
    }
}

@media (max-width: 600px) {
    .co-container{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 550px) {
    .co-container{
        width: 100%;
    }

    .co-container>img{
        margin: 10px;
    }
    
    .co-wrapper{
        padding: 50px 0;
    }

}